#loadingBanner {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  background-color: #000;
  color: #fff;
}

#loadingContent {
  margin: auto;
  position: absolute; top: 0; left: 0; bottom: 0; right: 0;
}

#map {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  transition: opacity 0.5s;
  background-color: black;
}

.loading .loadingHidden { opacity: 0; }

#statsPanel {
  position: absolute;
  top: 0.5em; left: 3.5em;
}

#statsPanel .inner {
  background-color: rgba(0,60,136,.5);
  border-radius: 4px;
  padding: 2px 0.25em;
  font-size: 1.14em;
  font-weight: 700;
  color: #fff;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  line-height: 1.4em;
}

#expandStats { display: none; }
[for="expandStats"] i::after {
  content: '▶';
  font-style: normal;
}
#expandStats:checked ~ [for="expandStats"] i::after {
  content: '▼';
}
#expandStats ~ section { height: 0; overflow: hidden; }
#expandStats:checked ~ section { height: auto; }

#layerToggle {
  margin: 0;
  padding: 0;
}

#legend {
  position: absolute;
  left: 10px;
  bottom: 30px;
}

#legend .scale {
  width: 1em; height: 10em;
}

